<li>
	{{burger_name}}
<!--
	<button class="change-devoured bg-primary" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Devour!{{else}}Throw up!{{/if}}
	</button>
-->

	{{#if devoured}}
	<button class="change-devoured bg-primary" data-id="{{id}}" data-newdevoured="{{devoured}}">Devour!
	</button>
	{{else}}
	<button class="change-devoured bg-danger" data-id="{{id}}" data-newdevoured="{{devoured}}">Throw Up!
	</button>
	{{/if}}
</li>
